body {
    background: #fff8fc;
}
/*header*/
.header_base{
    background-color: #fff2fb;
    min-height: 100px;
    width: 100%;
}

.header_div {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    font-size: 3rem;
    width: 90%;




    /*display: flex;*/
    /*margin: auto;*/
    /*font-size: 4rem;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.header_h1{
    font-size: 170%;
    color: #2470ff;
}
ul.header_ul{
    display: flex;
    width: 20%;
    justify-content: space-between;
}
a.header_li1 {
    background-image: linear-gradient(to right, #3a95ff, #42b4e5);
    -webkit-background-clip: text;
    color: transparent;
}

a.header_li1:hover {
    background-image: linear-gradient(to right, #2b71c0, #328daf);
}
.header_li2 {
    padding: 10px 10px; /* Задаем внутренние отступы для создания овального фона */
    background-image: linear-gradient(to right, #a43b9e, #e150ca);
    border-radius: 30px; /* Задаем радиус для создания овала (значение радиуса может быть различным в зависимости от размера ссылки, примерно половина высоты ссылки) */
    color: #ffffff;
}
.header_li2:hover {
    padding: 10px 10px; /* Задаем внутренние отступы для создания овального фона */
    background-image: linear-gradient(to right, #853381, #b03c9d);
    border-radius: 30px; /* Задаем радиус для создания овала (значение радиуса может быть различным в зависимости от размера ссылки, примерно половина высоты ссылки) */
    color: #ffffff;
}
/*/header*/

/*advertising*/
.advertising_div{
    display: flex;
    background-color: #f6efef;
}

.advertising_ul{
    display: flex;
    margin: 0 30% 0 5%;
    flex-direction: column;
    align-items: flex-start;
}
.advertising_li1{
    font-size: 3rem;
}

.advertising_li2{
    font-size: 2rem;
}
/*/advertising*/

/*content*/
.content_div{
    display: flex;
}
.text_div{
    display: flex;
    margin: auto;
    font-size: 4rem;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px pink;
    /*justify-content: center;*/
    /*border: 4px solid #888888;*/
    /*border-right: 4px solid #888888;*/
    /*border-bottom: 4px solid #888888;*/
    /*border-left: 4px solid #888888;*/

}
a.text_div_a{
    background-image: linear-gradient(to right, #388ef3, #f341e8); /* Градиентный фон для текста */
    -webkit-background-clip: text; /* Указываем, что фон должен применяться только к тексту (для Safari) */
    color: transparent; /* Делаем текст прозрачным */;
}

a.text_div_a:hover{
    background-image: linear-gradient(to right, #c736bc, #2f74c7); /* Градиентный фон для текста */
}
/*/content*/


/*footer*/
.footer_base{
    display: flex;
    margin: 10% 0 0 0;
    background-color: #282828;
    font-size: 3rem;
    justify-content: center;
    flex-direction: column;

}

.footer_row{
    display: flex;
    justify-content: center;
}

.footer_cont{
    list-style: none;
    display: flex;
}

.footer_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footer_inf{
    list-style: none;
    flex-direction: column;
}



.test{

}

/*/footer*/




/*.footer_cont{*/
/*    display: flex;*/
/*    width: 0;*/

/*}*/

/*.footer_cont_li{*/
/*    display: flex;*/
/*    margin: 0 10%;*/
/*}*/


/*.footer_cont_a{*/
/*    color: red;*/
/*    font-size: 3rem;*/
/*    margin: 0 50%;*/
/*}*/

/*.footer_base{*/
/*    display: flex;*/
/*    margin: 10% 0 0 0;*/
/*    background-color: #282828;*/
/*    justify-content: center;*/
/*}*/

/*.footer_inf{*/
/*    display: flex;*/
/*    margin: 5% 0 5% 0;*/
/*    flex-direction: column;*/
/*    font-size: 2rem;*/
/*}*/

/*a.footer_li_a{*/
/*    color: #ffffff;*/

/*}*/

/*a.footer_li_a:hover{*/
/*    color: #c8c8c8;*/
/*}*/

/*.hr {*/

/*    border: none;*/
/*    border-top: 5px solid red; !* Цвет и стиль линии *!*/
/*    margin: 20px 0; !* Отступы сверху и снизу *!*/
/*}*/

/*/footer*/


/*.gradient-text {*/
/*    background-image: linear-gradient(to right, #ff0000, #00ff00); !* Градиентный фон для текста *!*/
/*    -webkit-background-clip: text; !* Указываем, что фон должен применяться только к тексту (для Safari) *!*/
/*    color: transparent; !* Делаем текст прозрачным *!*/
/*}*/