body {
    background: #fff8fc;
}
/*header*/
.header_base{
    background-color: #fff2fb;
    min-height: 100px;
    width: 100%;
}

.header_div {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    font-size: 3rem;
    width: 90%;
}

.header_h1{
    font-size: 170%;

}

a.header_a{
    color: #2470ff;

}

a.header_a:hover{
    color: #1b4ebd;

}

ul.header_ul{
    display: flex;
    width: 20%;
    justify-content: space-between;
}

a.header_li1 {
    background-image: linear-gradient(to right, #3a95ff, #42b4e5);
    -webkit-background-clip: text;
    color: transparent;
}

a.header_li1:hover {
    background-image: linear-gradient(to right, #2b71c0, #328daf);
}

.header_li2 {
    padding: 10px 10px; /* Задаем внутренние отступы для создания овального фона */
    background-image: linear-gradient(to right, #a43b9e, #e150ca);
    border-radius: 30px; /* Задаем радиус для создания овала (значение радиуса может быть различным в зависимости от размера ссылки, примерно половина высоты ссылки) */
    color: #ffffff;
}

.header_li2:hover {
    padding: 10px 10px; /* Задаем внутренние отступы для создания овального фона */
    background-image: linear-gradient(to right, #853381, #b03c9d);
    border-radius: 30px; /* Задаем радиус для создания овала (значение радиуса может быть различным в зависимости от размера ссылки, примерно половина высоты ссылки) */
    color: #ffffff;
}
/*/header*/

/*content*/
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    background: #fff8fc;
}

.content_ul{
    padding: 0 25% 0 25%;
    border: 3px solid #1b1b1b;
    margin: 20px 0 0 0;
    box-shadow: 0 0 40px 5px rgba(255, 192, 203, 0.4);
}
.content_div_p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0 10px 0;
}

.content_p{
    color: #da49e8;
}

a.content_table_a{
    color: #2b71c0;
}

a.content_table_a:hover{
    color: #235b9a;
}

a.content_a{
    background-image: linear-gradient(to right, #388ef3, #f341e8); /* Градиентный фон для текста */
    -webkit-background-clip: text; /* Указываем, что фон должен применяться только к тексту (для Safari) */
    color: transparent; /* Делаем текст прозрачным */;
}

a.content_a:hover{
    background-image: linear-gradient(to right, #c736bc, #2f74c7); /* Градиентный фон для текста */
}

.content_hr {
    border: none;
    border-top: 5px solid rgba(201, 198, 198, 0.15); /* Цвет и стиль линии */
    margin: 0 0; /* Отступы сверху и снизу */
}
/*/content*/

/*footer*/
.footer_base{
    display: flex;
    margin: 10% 0 0 0;
    background-color: #282828;
    justify-content: center;
    flex-direction: column;
}

.footer_row{
    display: flex;
    /*justify-content: center;*/
    justify-content: space-between;
    margin: 1% 3% 0 3%;
    font-size: 2rem;
    color: #c9c6c6;
}

.footer_cont{
    list-style: none;
    display: flex;
}

.footer_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 3rem;
}

.footer_inf{
    list-style: none;
    flex-direction: column;
}



.footer_li_frontend{
    margin-right: 1rem;
}

.footer_li_backend{
    margin-right: 1rem;
}

a.footer_cont_a{
    color: #c9c6c6;
}

a.footer_cont_a:hover{
    color: #989595;
}

a.footer_inf_a{
    color: #c9c6c6;
}

a.footer_inf_a:hover{
    color: #989595;
}

.footer_hr_white {

    border: none;
    border-top: 3px solid #c9c6c6; /* Цвет и стиль линии */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.footer_hr_gray {

    border: none;
    border-top: 2px solid rgba(112, 112, 112, 0.06); /* Цвет и стиль линии */
    margin: 20px 0; /* Отступы сверху и снизу */
}

.footer_year{
    display: flex;
    margin: 0 0 1% 0;
    color: #c9c6c6;
    font-size: 1rem;
    justify-content: center;
}


/*/footer*/