<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning English Words</title>
    <link rel="stylesheet" type="text/css" href="../../static/zero.css">
    <link rel="stylesheet" type="text/css" href="../../static/style_home.css">

</head>
<body>
<!--header-->
<header class="header_base">
    <div class="header_div">
        <h1 class="header_h1">Learning English Words</h1>
        <ul class="header_ul">
            <li><a href="#" class="header_li1">Sign in</a></li>
            <li><a href="#" class="header_li2">Sign up</a></li>
        </ul>
    </div>
</header>
<!--/header-->
<!--advertising-->
<div class="advertising_div">
    <ul class="advertising_ul">
        <li class="advertising_li1">Learn English with a method that really works</li>
        <li class="advertising_li2">Your English progress is what matters the most to us. If you’re not satisfied after 12 weeks of learning, you get your money back.
        </li>
    </ul>
<!--    <img src="scale_1200.png" alt="error">-->
</div>
<!--/advertising-->
<!--content-->
<div class="content_div">
    <div class="text_div">
        <a href="/mywords" class="text_div_a">Check out all your words</a>
        <a href="/create_word" class="text_div_a">Add a new word</a>
        <a href="/knowledge-test" class="text_div_a">Test your knowledge</a>
    </div>
</div>
<!--/content-->
<!--footer-->
<footer>
    <div class="footer_base">
        <ul class="footer_ul">
            <li class="footer_li">How it works</li>
            <li class="footer_li">About us</li>
            <li class="footer_li">Contact us</li>
            <li class="footer_li">Help</li>
        </ul>
    </div>
</footer>
<!--/footer-->
</body>
</html>
