<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning English Words</title>
    <link rel="stylesheet" type="text/css" href="../../static/zero.css">
    <link rel="stylesheet" type="text/css" href="../../static/style_home.css">

</head>
<body>
<header class="header_base">
    <div class="header_div">
        <h1 class="header_h1">Learning English Words</h1>
    </div>
</header>
<div class="content_div">
    <div class="text_div">
        <a href="/mywords">Check out all your words</a>
        <a href="/create_word">Add a new word</a>
        <a href="/knowledge-test">Test your knowledge</a>
    </div>
</div>
</body>
</html>
